body{
    background:radial-gradient(#FFFFFF, #E2EAF7);
    height:100%;
    margin:0;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.budgetBuddyHeader{
    color:#6585bb !important;
    font-family:impact,arial;
    font-style:italic;
    text-align:center;
}

.budgetBuddyHeader:hover{
    color: #82a2db !important;
    font-family:impact,arial;
    font-style:italic;
    text-align:center;
}

.backBtn:link{
    color:white;
    text-decoration:none;
    background-color:red;
    padding:5px;
}

.backBtn:hover{
    background-color:orange;
}

.backBtn:visited{
    color:white;
    text-decoration:none;
}

h3{
    font-family:"Segoe Script","Brush Script Std",arial;
    color:black;
    text-align:center;
    width:50%;
}

.headerBtn:link{
    text-decoration:none;
    border:1px solid black;
    padding:0px 75px 0px 75px;
    font-family:impact,arial;
    font-size:24px;
    background:#6585bb;
    color:black;
    width:25%;
}

.headerBtn:visited{
    color:black;
}

.headerBtn:hover{
    color:white;
}

.adminCPbtns{
    color:blue;
    text-decoration:none;
    font-size:24px;
}

.adminCPbtn{
    color:blue;
    text-decoration:none;
    
}

.disabledBtn{
    color:gray;
    cursor:not-allowed;
    opacity:0.5;
    text-decoration:none;
    pointer-events:none;
}

.leftUser{
    /*border:1px solid black;*/
    width:30%;
    float:left;
    margin-left:20%;
}

.rightUser{
    /*border:1px solid black;*/
    margin-top:75px !important;
    text-align:center;
}

.headerBtns{
    text-decoration:none;
    border:1px solid black;
    /*padding: 0px 75px 0px 75px;*/
    font-family:impact,arial;
    font-size:24px;
    background:#6585bb;
    color:black;
    width:200px;
    height:50px;
    text-align:center;
}

.headerBtns:hover{
    color:white !important;
}

.headerBtnsActive:link{
    color:black;
}

.headerBtnsActive:hover{
    color:white !important;
}

.col-sm-12 {
    font-size:24px;
}