<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Income Page</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
    <a class="backBtn" href="/admincp">Back</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="adminCPbtn disabledBtn" href="/adminIncome">Income</a>
    <a class="adminCPbtn" href="/adminExpenses">Expenses</a>
    <a class="adminCPbtn" href="/adminGoals">Goals</a>

    <hr>

    <ul>{{{ViewIncomeFunc data}}}</ul>
</body>
</html>