<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Control Panel </title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
    <a class="backBtn" href="/">Back</a>

    <hr>

    <center> 
        <h1>Admin control panel</h1>

        <a class="adminCPbtns" href="/adminIncome">Income</a><br><br>
        <a class="adminCPbtns" href="/adminExpenses">Expenses</a><br><br>
        <a class="adminCPbtns" href="/adminGoals">Goals</a><br><br>

    </center>


</body>
</html>